body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 200, 176);
}

.resource-content-list .completed {
    color: forestgreen;
}

.resource-content-list .unfinished {
    color: lightslategray;
}