* {
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}

body {
    transition: all ease 1s;
    background: khaki;
    margin-left: 96px;
}

.c-humburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    background: brown;
}

.c-humburger:focus {
    outline: none;
}

.c-humburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #fff;
}

.c-humburger span::before,
.c-humburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background: #fff;
    content: '';
}

.c-humburger span::before {
    top: -20px;
}

.c-humburger span::after {
    bottom: -20px;
}

c-humburger-line span {
    transition: background 0s 0.3s;
}

.c-humburger-line span::before,
.c-humburger-line span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-humburger-line span::before {
    transition-property: top, transform;
}

.c-humburger-line span::after {
    transition-property: bottom, transform;
}

.c-humburger-line.active {
    background: green;
}

.c-humburger-line.active span {
    background: none;
}

.c-humburger-line.active span::before {
    top: 0;
    transform: rotate(-45deg);
}

.c-humburger-line.active span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.c-humburger-line.active span::before,
.c-humburger-line.active span::after {
    transition-delay: 0s, 0.3s;
}

#menu {
    width: 300px;
    margin-left: -204px;
    background-color: darksalmon;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all ease 1s;
    z-index: 999;
}

#menu.nav-active {
    margin-left: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: gray;
}

.container main {
    margin: 0;
    padding: 0;
}

.container main h1 {
    background: lightgreen;
}

.body-active {
    margin-left: 300px;
}